cliente/Connected Services/ServiceBasta/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteUsuario" nillable="true" type="tns:ClienteUsuario" />
  <xs:complexType name="ArrayOfClienteUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteUsuario" nillable="true" type="tns:ClienteUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteUsuario" nillable="true" type="tns:ArrayOfClienteUsuario" />
</xs:schema>