cliente/Connected Services/ServiceBasta/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClaseAbstractaOfuserZHjCzTOi">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ClaseAbstractaOfuserZHjCzTOi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ClaseAbstractaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="user" Namespace="http://schemas.datacontract.org/2004/07/juegoBasta" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ClaseAbstractaOfuserZHjCzTOi" nillable="true" type="tns:ClaseAbstractaOfuserZHjCzTOi" />
  <xs:complexType name="SalaDeEspera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anfitrion" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSala" type="xs:int" />
      <xs:element minOccurs="0" name="JugadoresEnEspera" nillable="true" type="tns:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="LimiteJugadores" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaDeEspera" nillable="true" type="tns:SalaDeEspera" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>