cliente/Connected Services/ServiceBasta/ServiceBasta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBasta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceBastaCodigo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceBastaSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceLogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/juegoBasta.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBastaCodigo_VerificarCodigoRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCodigoRegistro" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaCodigo_VerificarCodigoRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCodigoRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_CrearSalaEspera_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSalaEspera" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_UnirseASala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseASala" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_BuscarUsuarioPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorNombre" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_BuscarUsuarioPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_NotificarUsuarioEnSalaEspera_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarUsuarioEnSalaEspera" />
  </wsdl:message>
  <wsdl:message name="IServiceBastaSala_ImprimirUsuarioAgregadoSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ImprimirUsuarioAgregadoSala" />
  </wsdl:message>
  <wsdl:message name="IServiceLogin_InicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="IServiceLogin_InicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLogin_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceLogin_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBastaCodigo">
    <wsdl:operation name="VerificarCodigoRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBastaCodigo/VerificarCodigoRegistro" message="tns:IServiceBastaCodigo_VerificarCodigoRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBastaCodigo/VerificarCodigoRegistroResponse" message="tns:IServiceBastaCodigo_VerificarCodigoRegistro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceBastaSala">
    <wsdl:operation name="CrearSalaEspera">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBastaSala/CrearSalaEspera" message="tns:IServiceBastaSala_CrearSalaEspera_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBastaSala/UnirseASala" message="tns:IServiceBastaSala_UnirseASala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBastaSala/BuscarUsuarioPorNombre" message="tns:IServiceBastaSala_BuscarUsuarioPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBastaSala/BuscarUsuarioPorNombreResponse" message="tns:IServiceBastaSala_BuscarUsuarioPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarUsuarioEnSalaEspera">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBastaSala/NotificarUsuarioEnSalaEspera" message="tns:IServiceBastaSala_NotificarUsuarioEnSalaEspera_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImprimirUsuarioAgregadoSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBastaSala/ImprimirUsuarioAgregadoSala" message="tns:IServiceBastaSala_ImprimirUsuarioAgregadoSala_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceLogin">
    <wsdl:operation name="InicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogin/InicioSesion" message="tns:IServiceLogin_InicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogin/InicioSesionResponse" message="tns:IServiceLogin_InicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogin/RegistrarUsuario" message="tns:IServiceLogin_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogin/RegistrarUsuarioResponse" message="tns:IServiceLogin_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceBastaCodigo" type="tns:IServiceBastaCodigo">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceBastaCodigo_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="VerificarCodigoRegistro">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaCodigo/VerificarCodigoRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceBastaSala" type="tns:IServiceBastaSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceBastaSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearSalaEspera">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaSala/CrearSalaEspera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaSala/UnirseASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorNombre">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaSala/BuscarUsuarioPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarUsuarioEnSalaEspera">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaSala/NotificarUsuarioEnSalaEspera" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirUsuarioAgregadoSala">
      <soap12:operation soapAction="http://tempuri.org/IServiceBastaSala/ImprimirUsuarioAgregadoSala" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceLogin" type="tns:IServiceLogin">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceLogin_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InicioSesion">
      <soap12:operation soapAction="http://tempuri.org/IServiceLogin/InicioSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServiceLogin/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBasta">
    <wsdl:port name="NetTcpBinding_IServiceBastaCodigo" binding="tns:NetTcpBinding_IServiceBastaCodigo">
      <soap12:address location="net.tcp://localhost:8090/juegoBasta" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/juegoBasta</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-FLLKC20\irasema</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceBastaSala" binding="tns:NetTcpBinding_IServiceBastaSala">
      <soap12:address location="net.tcp://localhost:8090/juegoBasta" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/juegoBasta</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-FLLKC20\irasema</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceLogin" binding="tns:NetTcpBinding_IServiceLogin">
      <soap12:address location="net.tcp://localhost:8090/juegoBasta" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/juegoBasta</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-FLLKC20\irasema</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>